{:id :terminal-profiles
 :name "Terminal Profiles"
 :description "Overrides the default profile popover with a terminal aesthetic."
 :version "1.0.0"
 :theme-url "https://cdn.jsdelivr.net/gh/Paradise-in-Matrix/plugin-template@main/dist/retro.css"
 :external-scripts []}
